@import"https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    font-family: Poppins,sans-serif;
    padding: 0;
    margin: 0
}


* { 
    text-decoration: none;
}




.landing-comp, .landing-head, .landing-head-item, .landing-collection, .landing-collection-item {
    display: flex;
    align-items: center;
}

.landing-comp {
    flex-direction: column;
    background-color: #f7f7f7;
    gap: 3rem;
    padding: 5rem 7rem;
}

.landing-head {
    gap: 1.5rem;
}

.landing-head-item {
    background: url(https://fastly.picsum.photos/id/849/250/140.jpg?hmac=h5Jy0eUg58TVDe-wPAXcGDWx_4udVgTxNmDsAo1pzms) top center;
    width: 250px;
    height: 140px;
}



.landing-item-label {
    text-align: center;
    width: 100%;
    background-color: #ddfc2d;
}

.landing-sample-div {
    background-color: #c4c4c4;
    background: url(https://fastly.picsum.photos/id/143/691/691.jpg?hmac=QdViX1RrLRq56SFzjxUfS0DEhyY0DUbynNmVW87AKXw);
    width: 100%;
    height: 691px;
}

.landing-collection {
    gap: 4rem;
}

.landing-collection-item {
    padding: 2rem;
    gap: 2rem;
    background: rgba(196,196,196,.7);
}

.blank-space {
    background-color: #fff;
    background: url(https://fastly.picsum.photos/id/813/150/200.jpg?hmac=l6sGjg_gxurRznPExOENArkwAx03yKFnOf_B2VN6wo0);
    height: 10rem;
    width: 10rem;
}

.landing-collection-item {
    padding: 2rem;
    gap: 2rem;
    background: rgba(196,196,196,.7);
}














