@import"https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    font-family: Poppins,sans-serif;
    padding: 0;
    margin: 0
}


* { 
    text-decoration: none;
}




.landing-comp, .landing-head, .landing-head-item, .landing-collection, .landing-collection-item {
    display: flex;
    align-items: center;
}

.landing-comp {
    flex-direction: column;
    background-color: #f7f7f7;
    gap: 3rem;
    padding: 5rem 7rem;
}

.landing-head {
    gap: 1.5rem;
}

/* .landing-head-item {
    background: url(https://fastly.picsum.photos/id/849/250/140.jpg?hmac=h5Jy0eUg58TVDe-wPAXcGDWx_4udVgTxNmDsAo1pzms) top center;
    width: 250px;
    height: 140px;
} */


.landing-head-item {
    /* #881808bf  */
    background-color: #fa2074;
    color: white;
    /* text-decoration-color: white; */
    width: 250px;
    height: 140px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


.landing-item-label {
    text-align: center;
    width: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 2rem;
    padding: 0.2rem 2rem;
    border-radius: 10px;
}

/* 
.landing-item-label {
text-align: center;
width: 100%;
background-color: rgb(117, 72, 72);
background-color: #ddfc2d;
/* color: white; */
/* border-radius: 16px;


 } */




.landing-sample-div {
    background-color: #c4c4c4;
    background: url(https://res.cloudinary.com/djhnar3ju/image/upload/v1685954337/Book%20Cart/Home%20page%20main%20banner.png);
    width: 100%;
    height: 691px;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-collection {
    gap: 4rem;
}

.landing-collection-item {
    padding: 2rem;
    gap: 2rem;
    background: rgba(196,196,196,.7);
}

.blank-space {
    background-color: #fff;
    background: url(https://res.cloudinary.com/djhnar3ju/image/upload/v1685973655/Book%20Cart/Yuval%20Noah%20Harari.png);
    height: 10rem;
    width: 10rem;
}

.blank-space2 {
    background-color: #fff;
    background: url(https://res.cloudinary.com/djhnar3ju/image/upload/v1685974802/Book%20Cart/Ruskin%20Bond%20New.png);
    height: 10rem;
    width: 10rem;
}

.landing-collection-item {
    padding: 2rem;
    gap: 2rem;
    background: #ffababb3
}













