@import"https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    font-family: Poppins,sans-serif;
    padding: 0;
    margin: 0
}

* {
    text-decoration: none;
}

i#fav2.material-symbols-outlined {
    font-variation-settings: 'FILL' 0;   
    color: #9a9a9a;

}

.cart-cont {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    flex-direction: column;
    padding: 2rem;
}

.cart-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 0;
}


.cart-card-img, .cart-card-cont, .cart-card-badge, .cart-card-details {
    display: flex;
    align-items: center;
}

.cart-card-cont {
    flex-direction: row;
    background-color: #fff;
    width: max-content;
    align-items: flex-start;
}

.cart-card-img {
    justify-content: center;
    background: rgba(196,196,196,.5);
    width: 13rem;
    height: 15rem;
    position: relative;
    padding: 2rem 1rem;
}

.cart-card-img img {
    height: 90%;
    width: auto;
}

.cart-card-details-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    gap: 5px;
}

.cart-card-details {
    flex-direction: column;
    width: 240px;
    gap: 1rem;
    align-items: flex-start;
}

.cart-card-details * {
    margin: 0;
}

.cart-card-price {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.cart-card-price h4 {
    color: #660808cf;
}

.cart-cart-quantity-cont {
    display: flex;
    gap: 1rem;
}

.cart-card-quantity {
    display: flex;
    gap: .5rem;
}

.cart-card-quantity div {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid #9A9A9A;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-card-quantity input {
    width: 2rem;
    text-align: center;
}

.cart-card-button, .cart-card-wishlist {
    color: #fff;
    text-align: center;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    padding: .5rem;
    width: 100%;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    background-color: #881808bf;
}



.cart-price-details-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    padding: 2rem;
    background-color: #fff;
}

.cart-price-details-card * {
    margin: 0;
}

.cart-price-flex {
    display: flex;
    justify-content: space-between;
}

.active-button {
    background-color: #3b82f6;
}

.cart-card-button, .cart-card-wishlist {
    color: #fff;
    text-align: center;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    padding: .5rem;
    width: 100%;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    background-color: #881808bf;
}

.cart-card-wishlist {
    background-color: #88180821;
    border: 1px solid #9A9A9A;
    color: #6f5959;
    margin: 0;
}

.cart-component { 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart-card-single { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Added for order summary */
.address-single-checkout { 
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;
    
    padding: 1rem;
    align-content: stretch;
    justify-content: space-evenly;
}

.order-container { 
display: flex;
flex-direction: column;
}

.order-details{ 
display: flex;
flex-direction: row;
gap: 10px;
padding: 5rem;
}

.address-card{ 
display: flex;
flex-direction: column;
border: 1px solid black;
}

.cart-card{ 
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}