.profile-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 4rem;
}


.profile-header { 
    color: #881808bf;
    padding: 1rem;
    border: 1px solid black;
}

.address-header { 
    color: #881808bf;
    padding: 1rem;
    border: 1px solid black;
}


.user-details { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: auto;

    color: #881808bf;
    padding: 1rem;
    border: 1px solid black;
    width: 500px;
}

.strong{
    font-size: 20px;
}

.address-single { 
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1rem;
    align-content: stretch;
    justify-content: space-evenly;
}

.button-address, .button-deleteadd { 
    background: #881808bf;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    padding: .5rem 1.5rem;
    text-align: center;
    color: #fff;
    border: none;
}

